@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Roboto:wght@100;300;400;700&display=swap');

* {
  font-family: 'Montserrat';
  font-size: 22px;
}

#online-game-screen {
  margin-top: 80px;
}

#online-game-score-screens {
  display: flex;
  justify-content: space-evenly;
}

#scorer-input-section {
  margin-top: 40px;
}

#scorer-input-section h3 {
  height: 50px;
}

#scorer-input {
  display: grid;
  grid-template-columns: 140px 140px 140px;
  grid-gap: 10px;
  justify-content: center;
}

.number-grid-input {
  color: whitesmoke;
  font-weight: bold;
  font-size: 18px;
  background-color: #5B5B5B;
  width: 140px;
  height: 80px;
  border-radius: 8px;
}

@media (hover: hover) {
  .number-grid-input:hover {
    color: #0004ff;
    background-color: rgb(129, 129, 129);
  }
}

.number-grid-input:active {
    color: #0004ff;
    background-color: rgb(153, 153, 153);
}

.users-turn {
  color: #007bff;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.not-users-turn {
  padding: 20px;
}

#score-screen-section h3 {
  font-size: 30px;
}

.match-stat p {
  display: inline;
  margin-right: 10px;
}

.checkouts {
  color: red;
  margin: 10px;
}

#score-screen-section p {
  font-size: 26px;
  color: red;
}

#score-screen-section div p {
  font-size: 22px;
  color: whitesmoke;
}
#score-screen-section div p span {
  color: red;
}

#score-screen-section div {
  color: whitesmoke;
  border: 2px solid black;
  border-radius: 20%;
  background-color: #5B5B5B;
}

#typed-score {
  font-size: 30px;
}

.player-scores {
  width: 450px;
}

#end-game-section {
  margin-top: 50px;
}

#player-results {
  width: 50%;
  justify-content: space-evenly;
  margin: 50px auto;
}

#player-results > * {
  min-width: 300px;
  padding: 20px;
  border: 2px solid rgba(33, 33, 238, 0.836);
  border-radius: 30px;
}

@media only screen and (max-width: 1200px) {
  
#player-results {
  width: 65%;
  justify-content: space-evenly;
}
}

